.container {
    margin: 0 11% 0 6%;
    @media screen and (max-width: 992px) {
        margin: 0 6%;
    }
}
.section {
    width: 100%;
}
:root {
    --vsc-bg-header: blue;
    --vsc-bg-footer: #fafafa;
    --vsc-text-color-header: blue;
    --vsc-text-color-footer: blue;
    --vsc-bg-button: green;
    --vsc-text-color-button: blue;
    --vsc-outline-color: blue;
    --vsc-border-color-bottom-header: blue;
    --vsc-border-color-top-footer: blue;
}