html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
  }
  body {
    font-family: "Soleil", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    font-size: 1.5rem;
    padding: 0;
    line-height: 1.5;
    font-weight: 300;
    margin: 0;
    color: #1b262c;    
  }
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    outline: 0 !important;
    cursor: pointer;
    color: #6794C4;
  }
    
  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table;
  }
  
  ul,
  ol {
    margin: 0;
    padding: 0;
  }
  
  p {
    line-height: 1.5;
    margin: 10px 0;
  }
  
  h1 {
    position: relative;
    font-size: 4rem;
    margin: 0 0 10px;
    letter-spacing: -1px;
    @media screen and (max-width: 960px) {
      font-size: 3.2rem;
    }
  }
  
  h2 {
    font-size: 3.2rem;
    margin: 0 0 10px;
    @media screen and (max-width: 960px) {
      font-size: 2.4rem;
    }
  }
  
  h3 {
    position: relative;
    font-size: 2.4rem;
    letter-spacing: -1px;
    margin: 0;
    z-index: 2;
  }
  
  h4 {
    font-size: 1.8rem;
    line-height: 1.8rem;
    letter-spacing: -0.2px;
    margin: 0;
    font-weight: normal;
  }
  
  h5 {
    margin: 0;
    font-weight: normal;
    font-size: 1.4rem;
  }
  
  img {
    max-width: 100%;
  }
  
  .clear {
    clear: both
  }
  
  .clearfix:after {
    clear: both;
  }
  
  .hidden {
    display: none;
  }